@model Sample.AspNetCore.Models.ViewModels.TokenViewModel

@{
    ViewData["Title"] = "Tokens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ResponseMessage"] != null)
{
    <div class="alert alert-success">@TempData["ResponseMessage"]</div>
}

<h1>Tokens</h1>

<div>
    <h4>Operations</h4>
    <hr/>
</div>

<div data-automation="div-tokens">

    <div>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(m => Model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayNameFor(m => Model.PayerReference)
                </dd>
            </dl>
            <form asp-action="RemoveAll" asp-controller="Tokens" method="post">
                <button type="submit" class="btn btn-danger m-2" data-automation="button-cleartokens">
                    Remove All Tokens
                </button>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @* @Html.DisplayNameFor(model => order.OperationList[0].Method) *@
                </th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Tokens != null)
            {
                @foreach (var token in Model.Tokens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => token.Token)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => token.TokenType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentDisplayName)
                        </td>
                        <td>
                            @if (token.Operations?.DeleteTokens != null)
                            {
                                <a class="btn btn-primary" asp-controller="Tokens"
                                   asp-action="DeleteToken"
                                   asp-route-tokenId=@token.Token>
                                    Delete Token
                                </a>
                            }
                            else if (token.Operations?.DeleteRecurringTokens != null)
                            {
                                <a class="btn btn-primary" asp-controller="Tokens"
                                   asp-action="DeleteRecurringToken"
                                   asp-route-tokenId=@token.Token>
                                    Delete Recurring Token
                                </a>
                            }
                            else if (token.Operations?.DeleteUnscheduledTokens != null)
                            {
                                <a class="btn btn-primary" asp-controller="Tokens"
                                   asp-action="DeleteUnscheduledToken"
                                   asp-route-tokenId=@token.Token>
                                    Delete Unscheduled Token
                                </a>
                            }
                            else
                            {
                                <span class="badge badge-warning">Not implemented</span>
                            }
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>