@model Sample.AspNetCore.Models.ViewModels.TokenViewModel

@{
    ViewData["Title"] = "Tokens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ResponseMessage"] != null)
{
    <div class="alert alert-success">@TempData["ResponseMessage"]</div>
}

<h1>My Page</h1>

<div>
    <form asp-action="RemoveAll" asp-controller="Tokens" method="post">
        <button type="submit" class="btn btn-danger m-2" data-automation="button-cleartokens">
            Remove All Tokens
        </button>
    </form>
    <hr/>
</div>

<h4>Saved Details</h4>
<div data-automation="div-tokens">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Card Name
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Card Number
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Tokens != null)
            {
                foreach (var token in Model.Tokens.Where(token => token.Operations?.DeleteTokens != null))
                {
                    <tr data-automation="@token.TokenType">
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentParameters.CardBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentParameters.ExpiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentDisplayName)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Tokens"
                               asp-action="DeleteToken"
                               asp-route-tokenId=@token.Token>
                                Delete Token
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>


<h4>Subscription Details</h4>
<div data-automation="div-tokens">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Card Name
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Card Number
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Tokens != null)
            {
                foreach (var token in Model.Tokens.Where(token => token.Operations?.DeleteRecurringTokens != null || token.Operations?.DeleteUnscheduledTokens != null))
                {
                    <tr data-automation="@token.TokenType">
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentParameters.CardBrand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentParameters.ExpiryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => token.InstrumentDisplayName)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Tokens"
                               asp-action="DeleteRecurringToken"
                               asp-route-tokenId=@token.Token>
                                Delete Subscription Token
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>